@model View.Models.Resposta;

@{
    ViewData["Title"] = "RegisterPage";
}

<h1>Tela de Registro</h1>

@*string email, string userLogin, string userPassword*@
@*<h4>@ViewBag.Message</h4>
<label>@ViewBag.Message</label>
<h4>@ViewData["Message"]</h4>
<label>@ViewData["Message"]</label>*@

<label1>@Model.Message</label1>
<label>@Model.Success</label>

<h1 class="text-center">
    <p> Insira aqui os dados  </p>
    <form action="~/Home/AuthCadastro" method="post">
        <label>Email</label>
        <input type="text" name="email" />
        <br />
        <label>UserLogin</label>
        <input type="text" name="userLogin" />
        <br />
        <label>UserPassword</label>
        <input type="password" name="userPassword" />
        <br />
        <input type="submit" name="Cadastrar" />
    </form>
</h1>
